* {
    box-sizing: border-box;
    font-family: "Space Mono", system-ui;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: inherit;
    color: inherit;
    font-size: inherit;
}
:root {
    --bg: #FAFAFA;
    --bs: #FFFFFF;
    --cl: #161616;
    --cs: #373737;
    --ff: #f44336;
}
html {
    font-size: 16px;
}
body {
    display: block;
    width: 100%;
    min-height: 100vh;
    font-size: 1rem;
}
section, header, nav, footer {
    display: flex;
    width: 100%;
}
section {
    flex-flow: column nowrap;
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
    gap: 0;
}
header, nav, footer {
    flex: 0 0 max-content;
    flex-flow: row nowrap;
    gap: 1rem;
    padding: 1rem;
}
header, footer {
    border: solid 1px var(--cl);
}
header {
    margin-bottom: 1rem;
}
nav {
    border-left: solid 1px var(--cl);
    border-top: solid 1px var(--cl);
    border-right: solid 1px var(--cl);
}
nav > * {
    font-size: 0.8rem;
}
article {
    flex: 1 1 auto;
}
h1, h2, h3, h4, label, input, textarea, select {
    display: block;
    width: 100%;
}
h1, h2, h3, h4 {
    flex: 1 1 auto;
    font-weight: 700;
}
h1 {font-size: 2.0rem;}
h2 {font-size: 1.5rem;}
h3 {font-size: 1.2rem;}
h4 {font-size: 1.0rem;}
input, textarea, select {
    padding: 0.25rem 0.5rem;
    border: solid 1px var(--cl);
}
input:focus, textarea:focus, select:hover {
    outline: solid 1px var(--cl);
}
textarea {
    min-height: 6rem;
    resize: vertical;
}



span, a, i, button {
    display: inline;
    font-size: 1rem;
}
a, i, button {
    cursor: pointer;
}
a:hover, i:hover {
    color: var(--ff);
}
button {
    padding: 0.25rem 1rem;
    border: solid 1px var(--cl);
}
button:hover {
    background-color: var(--cl);
    color: var(--bg);
}


header > h1, header > h2, header > h3, header > h4 {
    margin: auto 0;
}

table {
    width: 100%;
    border: solid 1px var(--cl);
    border-collapse: collapse;
}
th, td {
    padding: 0.25rem;
    border: solid 1px var(--cl);
    text-align: left;
    font-size: 0.8rem;
}
th {
    font-weight: 700;
}
td {
    text-align: left;
}
th:first-child,
td:first-child {
    text-align: center;
}
.tr {
    text-align: right;
}
.bw {
    word-break: break-word;
    overflow-wrap: break-word;
}